.App {
  text-align: center;
}

.commit-box {
  border: 1px solid #202020;
  border-radius: 6px;
  padding: 16px;
  margin-top: 16px;
  background-color: #030303;
}

.commit-box p {
  margin: 8px 0;
}

.commit-box p:first-child {
  font-size: 1.2em;
  font-weight: bold;
}

.commit-box p:last-child {
  color: #586069;
}
